.box {
    background-color: white;
    box-sizing: content-box;
    border: 1px;
    border-radius: 50px;
}

.tx-box {
    width: 550px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: white;
    text-align: start;
}

div.submit button {
    font-size: 16px;
    border-radius: 12px;
    padding: 12px 20px 12px 20px;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
}

button.disabled {
    background-color: #d9d9d9;
    color: white;
    cursor: not-allowed;
}

button.enable {
    background-color: #ff3311;
    color: white;
}
