.box {
    background-color: white;
    box-sizing: content-box;
    border: 1px;
    border-radius: 50px;
}

.tx-box {
    width: 550px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: white;
    text-align: start;
}
