@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Alfa+Slab+One&family=Inter&family=Ubuntu:wght@700&display=swap');

:root {
    --primary-color: var(--red-primary);
    --text-primary: black;
    --navbar: var(--black);
    --navbar-hover: var(--gray-darkest);
    --navbar-hover-dropdown: var(--gray-dark);
    --button: var(--red-button);
    --sidebar-width: 17rem;

    --white: #ffffff;
    --gray-dark: #222;
    --gray-darkest: #272626;
    --alabaster: #f8f6e9;
    --red-primary: #cf352a;
    --red-button: #ff3311;
    --red-dark: #f01e29;
    --red-alfa: #fd4334;
    --black: #000;
    --purple: #800080;
    --green: #008000;
    --navy: #016795;
    --gold: #edb700;
    --light-gray: #d9d9d9;
}

.color-bg-input {
    background-image: conic-gradient(#f01e29 90deg, #000 90deg, #000 270deg, #f8f6e9 -90deg);
}

[data-theme='dark'] {
    --background: black;
    --text-primary: white;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(194, 194, 194);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(164, 164, 164);
}

h1 {
    font-family: 'Alfa Slab One';
}

h5,
span,
h4,
ul,
li {
    font-family: 'Inter';
}

header,
p,
input,
h2,
h6,
a {
    font-family: 'Ubuntu', sans-serif;
}

h3,
button {
    font-family: 'Adamina';
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.box-per {
    background: linear-gradient(197deg, black 50%, transparent 50%);
    box-sizing: content-box;
    border: 1px;
    height: 500px;
}

.rotate {
    transform: rotate(17deg);
    padding-top: 190px;
}

.under-line-topic-pur {
    text-decoration-line: underline;
    text-underline-offset: 16px;
    text-decoration-color: var(--purple);
}

.under-line-topic-green {
    text-decoration-line: underline;
    text-underline-offset: 16px;
    text-decoration-color: var(--green);
}

.under-line-topic-navy {
    text-decoration-line: underline;
    text-underline-offset: 16px;
    text-decoration-color: var(--navy);
}

.under-line-topic-gold {
    text-decoration-line: underline;
    text-underline-offset: 16px;
    text-decoration-color: var(--gold);
}

.line-pur {
    width: 751px;
    height: 0px;
    border: 2px solid var(--purple);
    transform: rotate(0deg);
}

.line-green {
    width: 751px;
    height: 0px;
    border: 2px solid var(--green);
    transform: rotate(0deg);
}

.line-navy {
    width: 751px;
    height: 0px;
    border: 2px solid var(--navy);
    transform: rotate(0deg);
}

.line-gold {
    width: 751px;
    height: 0px;
    border: 2px solid var(--gold);
    transform: rotate(0deg);
}

.box {
    background-color: var(--white);
    box-sizing: content-box;
    border: 1px;
    border-radius: 50px;
    width: 100%;
}

.txBox {
    width: 550px;
    height: 50px;
    border: 1px solid var(--black);
    border-radius: 50px;
    background-color: var(--white);
    text-align: start;
}

.list {
    margin-top: 48px;
    padding-bottom: 48px;
    margin-left: 112px;
    margin-right: 112px;
    display: flex;
    flex-direction: column;
    gap: 28px;

    .card {
        max-width: 500px;

        &:nth-child(even) {
            align-self: flex-end;
        }
    }
}

ul.menu li {
    text-align: center;
    padding: 16px 20px;
}

ul.menu li:hover {
    background-color: var(--gray-darkest);
    color: var(--white);
}

/*dropdown*/
ul.menu li ul.menu-sub {
    position: absolute;
    background: var(--black);
    right: 32px;
    top: 64px;
    display: none;
    z-index: 1;
}

ul.menu li ul.menu-sub li {
    width: 209px;
    padding: 20px 60px 20px 60px;
    display: flex;
    position: relative;
}

ul.menu li:hover ul.menu-sub {
    display: block;
}

.ro {
    position: relative;
    left: 0;
    top: 280px;
    margin-left: 0px;
    transform: rotate(270deg);
    transform-origin: 0 0;
}
.marketing {
    width: 540px;
    min-height: 380px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--black);
}

.list-marketing {
    width: 870px;
    min-height: 220px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--black);
}

div.list-marketing {
    list-style: none;
}

div.list-marketing ul li::before {
    content: '\2022';
    color: var(--red-button);
    display: inline-block;
    width: 2rem;
}

.resultBox {
    min-height: 460px;
    padding-top: 10px;
    background-color: var(--light-gray);
    text-align: start;
}

.flex-line {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;

    .line-page {
        border: 1px solid var(--red-button);
        transform: rotate(270deg);
        transform-origin: 0 0;
        height: 100%;
    }
}
